*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
/* header */
header{
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    /* height: 100px; */
}
.logoImg{
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight:600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #B28756;
    color: #ddd;
}
/* header */

/* main */
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../IMG/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden; 
    /* overflow: hidden; - tudo que passar do tamanho do banner ele esconde */
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color:rgba(0,0,0,0.7) ;
}
.banner .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: #FFF;
    justify-content: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color:#B28756
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}
.banner a{
    display:block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.banner .slidersPointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    /* quando duas classes que estão juntas no html precisam ser declaradas no css, para que seja aplicada a propriedade ambas não podem ser separadas por espaço */
    background-color: #B28756;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .sectionTitle,
.default .sectionDesc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .sectionTitle{
    font-size: 20px;
}
.default .sectionDesc{
    font-size: 13px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .sectionBody{
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
    background-color: #ccc;
}
.default.dark{
    background-color: #f7f7f7;
}
.default.light .sectionTitle{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .sectionTitle{
    color: #FFF;
}

/* main */